body {
  height: 100vh;
  background-color: black;
}

.header {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  color: hotpink;
}

.awesome-image img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
